/* 文字基本颜色 */
$text-color: #333; //基本色
$text-a: #8AACDA; //超文本
$text-999999: #999999;// 略灰色字体

/* 背景颜色 */
$bg-color: #454454; //黑褐色
$bg-color-gray: #E1E1E1; //灰色
$bg-color-orange: #FA893B; //橙色
$bg-color-F9F9F9: #F9F9F9; //淡白色
$bg-color-fa: #2AAA29; // 发货
$bg-color-shou: #DD363C; // 收货

/* 边框颜色 */
$border-color: #E1E1E1;

/* 文字尺寸 */
$font-size-sm: 24upx;
$font-size-base: 28upx;
$font-size-lg: 32upx;

// icon-youjian 邮件
// icon-yuyue 预约
// icon-yonghu 用户
// icon-lianxikefu 联系客服
// icon-youjiantou 右箭头
// icon-dingdan 订单
// icon-weibiaoti- 电话
// icon-dingwei 定位
// icon-rili 日历
// icon-youhuiquan 优惠券
// icon-wenhao 问号
// icon-qianbao 钱包